@page
@model WebPortalAPI.Areas.Admin.Controllers.EditModel

<h4>FileUpload</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FileUpload.id" />
            <div class="form-group">
                <label asp-for="FileUpload.FileName" class="control-label"></label>
                <input asp-for="FileUpload.FileName" class="form-control" />
                <span asp-validation-for="FileUpload.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload.fileSize" class="control-label"></label>
                <input asp-for="FileUpload.fileSize" class="form-control" />
                <span asp-validation-for="FileUpload.fileSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload.Type" class="control-label"></label>
                <input asp-for="FileUpload.Type" class="form-control" />
                <span asp-validation-for="FileUpload.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./FileUploadIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
