@model List<Gallery>
@{
    ViewData["Title"] = "Send Notification";
}
<div class="row">
    @foreach(Gallery item in @Model)
    {
        <div class="col-sm-2">
            <img src="~/images/@(item.imageurl)" style="height: 337px; width:100%; padding:10px;" />
        </div>
    }
</div>
