@model WebPortalAPI.Areas.admin.Models.LandingPageVM

@{
    Layout = "_Layout";
    ViewData["Title"] = "LandingPage";
}

<h2>LandingPage-</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="logo" class="control-label"></label>
                <textarea asp-for="logo" class="form-control" id="logo"></textarea>
                <span asp-validation-for="logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Header" class="control-label"></label>
                <textarea asp-for="Header" class="form-control box-Shadow-light" id="header"></textarea>
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control box-Shadow-ligh" id="body"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDetail" class="control-label"></label>
                <textarea asp-for="ProductDetail" class="form-control box-Shadow-ligh" id="detailproduct"></textarea>
                <span asp-validation-for="ProductDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
        <form asp-action="Fileupload" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label class="control-label">Upload logo</label>
                <input type="file" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
        <form method="post" enctype="multipart/form-data"  asp-action="Fileupload">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="files" multiple>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload">
                </div>
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">


</script>
@functions{ 
    Utils u = new Utils();


}