@model WebPortalAPI.Areas.admin.Models.AdminUser



<div class="row">
    <div class="col-sm-12">
    @foreach (Device device in Model.Devices)
    {
        <div>@device.Name</div>
        <hr/>
    }
    </div>
</div>